
* 
{
  margin: 0;
  padding 0;
}

body
{
  background-color: lightblue;
}
header
{
  background-color: hotpink;
  padding: 50px;
}
/*
  CSS padding is the area between the content and the border.  Padding creates extra space within an element (margin creates extra space around an element.)
*/